.container {
	margin: 10px auto;
	display: table;
	max-width: 1140px;
	width: 100%;
}
.menu {
	//background: coral;
	position: relative;
	min-height:200px;
	height: 100%;
	font-family: 'Sintony', sans-serif;
	color: #000000;
	font-size: 12px;
	background: 	#FFFFFF;
	line-height: 1;
}

.menu > ul > li {
	list-style: none;
	display: inline-block;
	color: #fff;
	line-height: 45px;
	margin: 0px 5px;

	border-style: solid;
	border-color: black;
    border-width: 3px 0px 0px 0px;
}
.menu > ul li a, .xs-menu li a {
	text-decoration: none;
	color: #000;
	 display:block;
	 padding: 0px 24px;
	 height: 10px;
}
.menu > ul li a:hover {
	background:#000;
	color: #000;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}
.xs-menu-cont{
display:none;
}
.xs-menu-cont > a {
    background: none repeat scroll 0 0 #ff7f50;
    border-radius: 3px;
    padding: 3px 6px;
	display: block;
	border-bottom:1px solid #E67248;
	    box-shadow: 0 1px 2px #e67248;
		-webkit-box-shadow: 0 1px 2px #e67248;
		-moz-box-shadow: 0 1px 2px #e67248;
}
.xs-menu-cont > a:hover{
 cursor: pointer;
}
  
.xs-menu li {
color: #fff;
padding: 14px 30px;
border-bottom: 1px solid #ccc;
background: #FF7F50;

}
.xs-menu  a{
text-decoration:none;
}

.mega-menu {
   background: none repeat scroll 0 0 #888;
    left: 0;
    margin-top: 3px;
    position: absolute;
    width: 100%;
	padding:15px;
	display:none;
	 transition-duration: 0.9s;
    
}
#menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
}
 
 /************************************************************************************************************************/
.body{
	width: 1000px;
	margin:50px 50px 50px 50px ;
	
}
table.table1 td{
	font-family:'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 10px;
  
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	padding: 100px;
}
table.table2 td{
	width: 1500px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 100px;
}
/*************************************************************/
/*box1*/
 .box11{

  width:60%;
  height:36px;

  background-color:#000000 ; 
  margin:36px 100px;
  margin-top: -100px;

}
.box11 h3{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 15px;
  font-weight:normal;
  text-align:center;
  padding-top:10px;
  color:#fff;
}
.box1{
  background-color: #000000 ;
}

.shadow1{
  position:relative;
}

/*****************************************************************dashed border
****************************************************************/


.shadow1:before, .shadow1:after{
  position:absolute;
  content:"box";
  bottom:19px;left:1px;top:10%;
  width:50%;
  height:60%;
  background:#000000;
  z-index:-30;
  -webkit-box-shadow: 0 20px 15px #3A3939;
  -moz-box-shadow: 0 20px 15px #3A3939;
  box-shadow: 0 20px 15px #3A3939;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow1:after{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 1px;left: auto;
}


   
